.vid {
	height: 200px;
	width: 350px;
	position: relative;
	background-position: center center;
	background-size: cover;
}

.vid:before,
.vid:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.2s;
}

.vid:after {
	background-repeat: no-repeat;
	background-position: 0.7em 0.7em;
	opacity: 0.5;
	background-size: 2em;
}

.vid:before {
	background: linear-gradient(150deg, #000, transparent 70%);
	opacity: 0.9;
}

.vid:hover:after {
	opacity: 0.8;
}

.vid:hover:before {
	opacity: 0.85;
}



.htmlvid:after {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23E34F26%22%20d%3D%22M71%20460L30%200h451l-41%20460-185%2052%22%2F%3E%3Cpath%20fill%3D%22%23EF652A%22%20d%3D%22M256%20472l149-41%2035-394H256%22%2F%3E%3Cpath%20fill%3D%22%23EBEBEB%22%20d%3D%22M256%20208h-75l-5-58h80V94H114l1%2015%2014%20156h127zm0%20147h-1l-63-17-4-45h-56l7%2089%20116%2032h1z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M255%20208v57h70l-7%2073-63%2017v59l116-32%201-10%2013-149%202-15h-16zm0-114v56h137l1-12%203-29%201-15z%22%2F%3E%3C%2Fsvg%3E');
}


.text-trigger {
	color: #d4ef6a;
	text-decoration: none;
	cursor: pointer;
}
.text-trigger:hover {
	text-decoration: underline;
}

#bp_loader {
	box-shadow: none;
}




